{{#if this.title}}
  <div class="card mb-1">
    <div class="card-block p-1">
        <h4 class="card-title">{{this.title}}</h4>
      <p class="card-text">{{this.content}}</p>
    </div>
  </div>
{{/if}}
