<fieldset>
  <legend>Edit Review</legend>
  <!-- TITLE -->
  <div class="mb-3">
    <label for="review-title" class="form-label">Title</label>
    <input class="form-control" id="review-title" type="text" name="title" value="{{review.title}}" />
  </div>

  <!-- MOVIE TITLE -->
  <div class="mb-3">
    <label for="movie-title" class="form-label">Movie Title</label>
    <input class="form-control" id="movie-title" type="text" name="movieTitle" value="{{review.movieTitle}}" />
  </div>

  <!-- DESCRIPTION -->
  <div class="mb-3">
    <label for="review-description" class="form-label">Description</label>
    <textarea class="form-control" id="review-description" name="description" rows="10">{{review.description}}</textarea>
  </div>
</fieldset>
